.outerContainer {
display: flex;
  align-items: center;
  justify-content: center;
}

.pageWidth {
  width: 100vw;
}

.pageHeight {
  height: 100vh;
}

.centerBox {
  width: 25%;
}

.red {
  background-color: #a0b6db;
}

.translucentGrey {
  background-color: #a0b6db;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  background-color: yellow;
  flex: none;
}

.center {
  align-items: center;
  justify-content: center;
}
